<!DOCTYPE html>
<html lang="en" ng-app="directoryApp">
<head>
	<meta charset="UTF-8">
	<title>AngularJS For Everyone</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
	<script src="directoryApp.js"></script>
</head>
<body ng-controller="directoryController as dirList">
	<input type="text" ng-model="search">
	<ul>
		<li ng-repeat="item in dirList.list | filter:search">
			{{item.name}} - <em>{{item.age}}</em>
		</li>
	</ul>
	<form ng-submit="dirList.addPerson()">
		<input type="text" placeholder="Name" ng-model="dirList.name">
		<input type="number" placeholder="Age" ng-model="dirList.age">
		<input type="submit" value="Submit">
	</form>
</body>
</html>